<!DOCTYPE html>
{% extends "master/index.html" %}
<html lang="en">
<head>
{% block head %}
    {% block meta%}
    <meta charset="UTF-8">
    {% endblock%}
    <title>{{ title }}</title>
    {% block css%}
        {{ super() }}
    {% endblock %}
{% endblock %}
</head>
<body>
{% block body %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue"> Profile Table</h3>
        <table id="profile-table" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for r in data %}
                <tr>
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </td>
                    {% for c in range(0,(data[0]|length)-1) %}
                        {% if c != 3 %}
                            <td>{{ r[c] }}</td>
                        {% else %}
                            {% if r[3] %}
                                <td>Male</td>
                            {% else %}
                                <td>Female</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <form method="post" action="{{ url_for('tblprofile') }}">
                                <input type="hidden" name="id" value="{{r[0]}}">
                                <button type="submit" class="btn btn-xs btn-info" formmethod="post" formaction="{{ url_for('tblprofile') }}">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </form>
            </tbody>
        </table>

    </div><!-- /.span -->
</div><!-- /.row -->
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
        <script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{ url_for('static',filename='master/js/jquery.mobile.custom.min.js') }}'>"+"<"+"/script>");
		</script>
    	<script src="{{ url_for('static',filename='master/js/jquery.dataTables.min.js') }}"></script>
		<script src="{{ url_for('static',filename='master/js/jquery.dataTables.bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static',filename='master/js/dataTables.buttons.min.js') }}"></script>
		<script src="{{ url_for('static',filename='master/js/buttons.flash.min.js') }}"></script>
		<script src="{{ url_for('static',filename='master/js/buttons.html5.min.js') }}"></script>
		<script src="{{ url_for('static',filename='master/js/buttons.print.min.js') }}"></script>
		<script src="{{ url_for('static',filename='master/js/buttons.colVis.min.js') }}"></script>
		<script src="{{ url_for('static',filename='master/js/dataTables.select.min.js') }}"></script>
        <script src="{{ url_for('static',filename='master/js/jquery.mobile.custom.min.js') }}"></script>
{% endblock %}
</body>
</html>